# Final Test Run and System Integration

## PCDC Logged Data
### Cascadia Bus Voltage
![Cascadia Bus Voltage Plot](./Figures/placeholder-voltage-plot.png)

## TB PDM Logged Data
### Signal Stability