# Final Test Run and System Integration

## PCDC Logged Data
### Cascadia Bus Voltage
![Cascadia Bus Voltage Plot](./Figures/placeholder-voltage-plot.png)

## TB PDM Logged Data
### Signal Stability
---
[Previous: Pre-Test Documentation](pre-test-documentation.md) | [Table of Contents](https://bosung91.github.io/FSAE-High-Voltage-System-Design-and-Optimization-Final/#table-of-contents) | [Return to Home](README.md)