# Tractive Battery PDM (TB PDM) Verification

## Signal Generator Testing
### Permutation and Stress Testing
## Electrical Stress Testing
## DVP Amendments
---
[Previous: PCDC Optimization](pcdc-optimization.md) | [Table of Contents](index.md) | [Next: HV Distribution Testing](hv-distribution-testing.md)